.container {
  box-sizing: border-box;
    display: flex;
    gap: 25px;
    max-width: calc(70% - 25px);
    width: calc(70% - 25px);
}
.items_container {
  border-radius: 0.4rem;
  border: 1px solid #bdbdbd;
  padding: 15px;
  background-color: white;
  flex-basis: calc(66.6666% - 25px);
  max-width: calc(66.6666% - 25px);
}
.items_container div:last-child {
  border: none;
}
.head {
  display: grid;
  max-height: 45px;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  padding: 8px 15px 15px;
  background-color: white;
  gap: 8px;
  grid-template-columns: 20px 100px 1fr;
}
.head h2 {
  padding: 0;
  margin: 0 0 5px;
  font-size: 30px
}
.head label {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
.head span {
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: tomato;
}
.head span:hover {
  color: red;
}
.info_wrapper {
  flex-basis: calc(33.3333% - 25px);
  max-width: calc(33.3333% - 25px);
}
.info_container {
  display: flex;
  flex-direction: column;
  min-height: 230px;
  justify-content: space-around;
  padding: 15px;
  border-radius: 0.4rem;
  border: 1px solid #bdbdbd;
  background-color: white;
  position: sticky;
  top: 25px;
}
.info_container p {
  opacity: .6;
}
.info_container div {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
}
a:hover {
  color: tomato;
}