.buttonContainer {
  display: flex;
}
.buttonContainer button {
  min-width: initial;
  padding: 0.5rem 10px;
}
.buttonContainer span {
  min-width: 35px;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
}
.disabled {
  opacity: .7;
}
.disabled:hover {
  background-color: #2C4857;
  border: 1px solid #EFF2F4;
  color: #EFF2F4;
}