.wrapper {
  display: grid;
  min-height: 95px;
  align-items: center;
  border-bottom: 1px solid #bdbdbd;
  padding: 8px 15px 15px;
  background-color: white;
  justify-content: flex-start;
  gap: 15px;
  grid-template-columns: 20px 85px 1fr 80px;
}
.image {
  max-height: 80px;
  max-width: 80px;
}
.image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
}
.price {
  display: flex;
  position: relative;
  align-self: flex-end;
  margin-bottom: 25px;
}
.description {
  display: flex;
  flex-direction: column;
}
.description .addFavorite {
  align-self: center;
  margin-bottom: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 45px;
  font-weight: 500;
  min-width: 93px;
  color: #2C4857
}
.description span:nth-child(3)::before{
  content: '|';
  color: black;
  margin-right: 15px;
}
.description .addFavorite:hover {
  color: black
}
.description span:nth-child(3) {
  align-self: center;
  margin-bottom: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-left: 11px;
  color: #2C4857;
  font-weight: 500;
}
.description span:last-child:hover {
  color: tomato;
}
.description .isFavorite{
  color: tomato
}